.btn {
	background: $buttons--bg;
	border: $buttons--border;
	border-radius: $buttons--border-radius;
	color: $buttons--color;
	cursor: pointer;
	display: inline-block;
	font-family: $buttons--font-family;
	font-size: $buttons--font-size - 2;
	font-weight: $buttons--font-weight;
	height: auto;
	line-height: $buttons--height;
	padding: $buttons--padding;
	text-align: center;
	text-transform: $buttons--text-transform;
	transition: .3s;
	white-space: nowrap;

	&[class]:hover {
		background: $buttons--bg-hover;
		color: $buttons--color-hover;
	}
	&[class][disabled] {
		background-color: $silver !important;
		cursor: wait;
	}

	&-lg {
		padding-left: 2.6em;
		padding-right: 2.6em;
		font-size: $buttons--font-size;
	}
	&-sm {
		font-size: $buttons--font-size - 4;
		line-height: 2.666em;
		padding-left: 1.38em;
		padding-right: 1.38em;
	}

	&--blank[class] {
		&,
		&:hover {
			background-color: transparent;
			color: $base-color;
		}
	}
	&--green[class] {
		background-color: $christi;

		&:hover {
			background-color: darken($christi, 10%);
		}
	}
	&--orange[class] {
		background-color: $california;

		&:hover {
			background-color: darken($california, 10%);
		}
	}
	&--pink[class] {
		background-color: $lipstick;

		&:hover {
			background-color: darken($lipstick, 10%);
		}
	}


	@include media(tablet) {
		font-size: $buttons--font-size;
		line-height: $buttons--height;
		padding: $buttons--padding;

		&-lg {
			padding-left: 2.6em;
			padding-right: 2.6em;
			font-size: 1.222em;
		}
		&-sm {
			font-size: .666em;
			line-height: 2.666em;
			padding-left: 1.38em;
			padding-right: 1.38em;
		}
	}
}
a.btn,
a.btn:hover {
	text-decoration: none;
}