.header {
	background-color: $cod-gray;
	left: 0;
	padding: 20px 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.LogoFootshop {
		left: 20px;
		position: absolute;
	}

	.logo-raf {
		display: block;
		margin: auto;
	}

	@include media(phablet) {
		background-color: transparent;
		left: 50%;
		max-width: $wrapper--width;
		transform: translateX(-50%);

		.logo-raf {
			float: right;
		}
	}
}