
$buttons--bg:	 			$cerulean;
$buttons--bg-hover: 		darken($cerulean, 10%);
$buttons--border:			none;
$buttons--border-radius:	4px;
$buttons--color: 			$white;
$buttons--color-hover: 		$white;
$buttons--font-family:		$font-default;
$buttons--font-size:		16px;
$buttons--font-weight:		700;
$buttons--height:			3.6em;
$buttons--padding:			0 1.6em;
$buttons--text-transform:	uppercase;