// names used from: http://chir.ag/projects/name-that-color/

$black: 			#000;
$cod-gray: 			#111;
$dusty-gray:		#999;
$dove-gray:			#666;
$mine-shaft:		#333;
$red:				#f00;
$silver:			#ccc;
$white: 			#fff;

$california:		#f5a007;
$cerulean:			#01a5df;
$cerise-red:		#e22764;
$concrete:			#f3f3f3;
$deep-cerulean:		#0078b0;
$christi:			#24b30c;
$cod-gray:			#1a1a1a;
$gray:				#808080;
$lipstick:			#c90060;
$mercury:			#e8e8e8;
$tundora:			#4d4d4d;





$base-color: 	$white;
$bg-color:		$black;
$facebook:		#3b5998;
$twitter:		#4099ff;

$success:         #5cb85c;
$info:            #5bc0de;
$warning:         #f0ad4e;
$danger:          #d9534f;