
$forms--b:		none;			//border
$forms--bg:		$white;			//background
$forms--c:		$base-color;	//color
$forms--fs:		12px;			//font-size
$forms--ff:		$font-family;	//font-family
$forms--fw:		300;			//font-weight
$forms--h:		35px;			//height
$forms--p:		0 10px;			//padding