
$headings--family: 	$font-family;
$headings--color: 	$base-color;
$headings--margin:	0 0 $margin--default;
$headings--text-transform: uppercase;
$headings--weight:	900;
$heading1--size: 	36px;
$heading2--size: 	30px;
$heading3--size: 	22px;
$heading4--size: 	18px;
$heading5--size: 	16px;
$heading6--size: 	16px;