#slide5 {
	@include child-middle;
	padding-top: 0;

	& > div {
		width: 100%;
	}
}

.Footer {
	@extend .wrapper;
	@include child-middle;
	font-size: $font-size-tiny;
	line-height: 1;
	text-align: center;

	p {
		margin: 0 auto $margin--big;
		width: 80%;
	}

	@include media(phablet) {

		p {
			max-width: 500px;
			width: auto;
		}

		.LogoFootshop {
			display: inline-block;
			margin: auto;
		}
	}
}