.hamburger {
	$line-thickness: 2px;
	$line-margin-bottom: 4px;
	$width: 60px;

	width: $width;

	&.active {

		&:after,
		&:before {
			opacity: 0;
		}

		.lines {
			&:after {
				transform: rotate(-45deg);
			}
			&:before {
				transform: rotate(45deg);
			}
		}

	}

	&:after,
	&:before,
	.lines:after,
	.lines:before {
		height: $line-thickness;
		width: 50%;
		background: $white;
		content: '';
		display: block;
		margin: 0 auto $line-margin-bottom;
		position: relative;
		top: 0;
		transition: .5s ease-in-out;
	}

	.lines {
		display: block;

		&:after {
			margin-top: -($line-thickness + $line-margin-bottom);
		}
	}
}