.Languages {
	font-size: $font-size-small - 4;
	padding: 0 10px 15px 30px;
	text-align: center;
	text-transform: uppercase;

	li {
		cursor: pointer;
	}
	p {
		margin-bottom: 5px;
	}
	ul {
		font-size: .8em;
	}

	@include media(phablet) {
		font-size: $font-size-small;
		padding-top: 0;
	}
}