.black {
	color: $black;
}
.red {
	color: $red;
}
.white {
	color: $white;
}

.bg--black {
	background-color: $black;
}
.bg--red {
	background-color: $red;
}
.bg--white {
	background-color: $white;
}
.bg--gray {
	background-color: $gray;
}
.bg--mercury {
	background-color: $mercury;
}
