body {
	background-color: $bg-color;
	font-family: $font-family, Arial, sans-serif;
	color: $base-color;
	font-size: $font-size;
	letter-spacing: 2px;
	line-height: 1.4;
	margin: 0;
}

* {
	box-sizing: border-box;
}