
// variables
@import "_variables/_paths";
@import "_variables/_colors";
@import "_variables/_responsive";
@import "_variables/_typo";
@import "_variables/_buttons";
@import "_variables/_layout";
@import "_variables/_headings";
@import "_variables/_links";
@import "_variables/_forms";

// placeholders
@import "_placeholders/_basic";

// mixins
@import "_mixins/_backgrounds";
@import "_mixins/_basic";
@import "_mixins/_centering";
@import "_mixins/_forms";
@import "_mixins/_responsive";
@import "_mixins/_typo";
@import "_mixins/_vendors";

// thirdparty plugins
@import "plugins/_sprite";

//core settings
@import "_core/_settings";

// css libraries
//@import "_libs/normalize.css";
@import "_libs/bootstrap";

// layout styles
@import "layout/forms/checkbox";
@import "layout/forms/fieldset";
@import "layout/forms/forms";
@import "layout/forms/label";
@import "layout/forms/radio";
@import "layout/forms/select";
@import "layout/forms/textarea";
@import "layout/_headings";
@import "layout/_img";
@import "layout/_links";
@import "layout/_list";
@import "layout/_p";
@import "layout/_table";
@import "layout/buttons";
@import "layout/header";
@import "layout/nav";
@import "layout/strong";
@import "layout/wrapper";

// reusable components
@import "components/hamburger";
//#generated-components
@import "components/Footer";
@import "components/Menu";
@import "components/Socials";
@import "components/Languages";


// common styles
@import "_common/globals";
@import "_common/_colors";
@import "_common/_presets";
