
// insert font-face from defined directory
@mixin font-face($font-family, $font-name, $path) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-name}.eot');
		src: url('#{$path}#{$font-name}.eot?#iefix') format('embedded-opentype'),
		url('#{$path}#{$font-name}.woff') format('woff'),
		url('#{$path}#{$font-name}.ttf##{$font-family}') format('truetype');
		font-weight: 400;
		font-style: normal;
		@content;
	}
}

// place &times; (cross) into generated content
@mixin times() {
	content:"\00d7";
}